<nav>
  <div>
    <a href="/products">Products</a>
  </div>
</nav>
<div>
  <div>
    <div>
      <h1>User Profile</h1>
      <div>
        <div>
          <h2>{{user.full_name}}</h2>
          <hr>
        </div>
        <div>
          <p><strong>Email: </strong>{{user.email}}</p>
          <p><strong>Role: </strong>{{user.role}}</p>
          <p><strong>UserID: </strong>{{user.id}}</p>
        </div>
      </div>
    </div>
  </div>
</div>